
body {
  margin: 0;
  background-color: rgba(247, 247, 247, 1);
  font-family: Lato, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* 導航欄- DD搭搭 */
.top {
  list-style-type: none;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #080101;
  z-index: 999;
}

ul.top li {
  float: right;
  left: 49px;
}

ul.top li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: rgba(250, 253, 253, 1);
  letter-spacing: 0.5px;
}

ul.top li a:hover {
  background-color: #111;
}

a {
  text-decoration: none;
}

#DD {
  font-size: 16px;
  left: 35px;
  position: absolute;
  overflow: visible;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
#dada {
  font-size: 14px;
  top: 5px;
  right: 35px;
  position: absolute;
  overflow: visible;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}


/*=============================================*/
.weekly-weather {
  width: 90vw; /* 宽度占据视窗宽度的90% */
  height: 15vh; /* 高度占据视窗高度的30% */
  margin: 2% auto 0; /* 上边距为40px，水平居中 */
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  
}
#cloud-maps-location-5349714{
  margin-right: -5px;
}
.r1 {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: #767676;
  font-style: normal;
  font-weight: bold;
  position: relative;
  top: 10px; 
}

.daily-weather {
  min-width: 120px;
  height: 103px;
  display: inline-block;
  margin-right: 10px; /* 为了在水平方向上保持一定的间隔 */
  
}
#rain{
  margin-left: -30px; 
}
.r2 {
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  color: #2185D0;
  display: inline-block;
}

.daily-temperature {
  font-size: 65px;
  font-family: 'Roboto', sans-serif;
  color: #2185D0;
  font-weight: bold;
}

.r3 {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: bold;
}

/*============= AI 生成 ================*/
.row{
position: relative;
align-items: center;
top: 40px;
display: flex;
width: 90%;
margin: 0 auto;
justify-content: center; 

}
.left{
  
  width: 40%;
  height: 68vh;
  border-radius: 10px;
  border: 1px solid #989898;
  padding: 0px;
  margin-right: 20px;
  overflow: hidden;
}
#AI_img {
width: 100%; /* 宽度占据视窗宽度的40% */
height: auto; /* 高度自适应以保持纵横比 */
}
.right {
  position: relative;
  width: 60%; 
  height: 68vh;
  border: 1px solid #989898;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgba(119,161,255,0.114);
}

#searchInput {
position: absolute;
bottom: 1px;
display: flex;
width: 100%;
}

.tbxSearchmore {
  flex-grow: 1; /* 填充剩余空间 */
  width: 100%; /* 使用整个可用宽度 */
  display: inline-block;
  height: 28px; /* 设置输入框的高度 */
  border: 1px solid #eceaea; /* 设置边框样式 */
  border-radius: 0px 0px 10px 10px; /* 设置边框圆角 */
  padding: 6px; /* 设置内边距 */
  font-size: 14px; /* 设置字体大小 */
  
}

input[type="submit"] {
  position: absolute;
  width: 42px;
  bottom: 1px;
  height: 40px;
  right: 0px;
  border-radius: 0px 0px 10px 10px;
  background-image: url('/assets/img/todays/send.png');
  background-size: cover; /* 图片铺满按钮 */
  background-color: white;
  background-repeat: no-repeat; /* 防止图片重复显示 */
  border: none; /* 去掉按钮边框 */
  cursor: pointer; /* 鼠标指针样式为手形 */
  /* 可以根据需要添加其他样式 */
}


#chat-container {
  margin: 5px;
  margin-left: 12px;
  overflow-y: scroll; 
}
#chat-container::-webkit-scrollbar {
  width : 11px;
}

#chat-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* 滚动条轨道的背景色 */
}

#chat-container::-webkit-scrollbar-thumb {
  background: #2185D0;/* 滚动条的背景色#A75CAB;  */
  border-radius: 10px; /* 滚动条的圆角 */
}
#chat-container::-webkit-scrollbar-thumb:hover {
  background: #A75CAB; 
}

.user-message{
  color:  #A75CAB; 
}
.ai-message{
color:#2185D0;
}


  
.prompt{
position:relative;
top:5vh;
display: flex;
margin: 40px;
justify-content: center; 
align-items: center; 

}

#prompt{
  height: 15px;
  width: 400px;
  border: 1px solid #AAAAAA;
  border-radius: 5px;
  padding: 6px;
  font-size: 14px;
}

.prompt button {
  /* 按钮样式 */
  background-color: #878AE8; /* 按钮的背景颜色 */
  color: white; /* 文本颜色 */
  padding: 7px 18px;/* 内边距 */
  border: none; /* 去掉边框 */
  border-radius: 5px; 
  cursor: pointer; 
  box-shadow: 10px 10px 1px rgba(1, 2, 5, 0.2);
}





/* 圖片存檔 */
.download-button {
position: fixed;
bottom: 1vh; /* 距离底部的距离 */
right: 50px; /* 距离右侧的距离 */
z-index: 9999; /* 可以调整按钮的层级 */
}

.download-button img {
width: 13vw; /* 按钮的宽度 */
cursor: pointer; /* 鼠标指针样式为手形 */
}

footer {
position: absolute;
margin-top: 50px;
padding-top: 20px;
padding-bottom: 0px;
text-align: left;
color:#354E57;
font-size: 10px;
}

/*===================================================*/
select#city-dropdown {
  border: 1px solid #2185D0;
  border-radius: 15px;
  padding: 4px;
  margin-right: 1vw;
}
select#city-dropdown {
  font-family: Proxima Nova;
  font-style: normal;
  color: #2185D0;
 
}


button#submit{
  /* 按钮样式 */
  background-color: #878AE8; /* 按钮的背景颜色 */
  color: white; /* 文本颜色 */
  padding: 7px 6px;/* 内边距 */
  border: none; /* 去掉边框 */
  border-radius: 5px; 
  cursor: pointer; 
  box-shadow: 10px 10px 1px rgba(116, 129, 170, 0.2);
  width: 80px;
  font-size: 12px;
  margin-right: 30px;
  white-space: nowrap;
}
span.chinese-date{
  position: relative;
  margin-left: 8px;
}

#rain {
  margin-right: 5px;
}
.rain-chance {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;

}

div#weather-data{
  white-space: nowrap;
}